*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

button{
    color: white;
}
.navigate{
    display: flex;
  justify-content: space-around;
  width: 1280px;
  position: relative;
  left: 16%;
}
.logo{
    display: flex;
    place-items: center;
}
.logo img{
    width: 189px;
}

.iicon{
    display: none;
}
.hamger{
    display:flex ;
    gap: 3rem;
    align-items: center;
}
.hamger a{
    text-decoration: none;
    color: black;
    border-bottom: 2px;
}
.hamger a:hover{
    color: rgb(255 179 26);
}
.hamger a:active{
    border-bottom: 2px solid rgb(255 179 26);
}
.hamger li{
    list-style: none;
}

.login{
    align-items: center;
    display: flex;
}
.login button{
    width: 130px;
    padding: 12px;
    background-image: linear-gradient(to right, rgb(255, 189, 29), rgb(252, 160, 0));
    border-radius: 1rem;
    border: 0px;
    font-size: 16px;
    font-weight: 600;
    margin: 12px;
}
.login button:hover{
    background-image: linear-gradient(to right,rgb(252, 160, 0), rgb(255, 189, 29));
}
.image{
    margin-top: 2px;
}
.login img{
    width: 30px;
}

.container{
  padding: 6px 7rem;
  width: 960px;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
}
.text-top{
    justify-content: center ;
    text-align: center;
    margin-left: 38px;
    margin-right: 38px;
    line-height: 2rem;
    padding: 2rem 0px;
}
.text-top h2{
    font-weight: 700;
    font-size: 38px;
}
.text-top p{
    font-size: 13px;
    font-weight: 400;
}
.midbut{
    width: 8rem;
    background-image: linear-gradient(to right, rgb(47, 77, 51), rgb(51, 149, 89));
    border: 0px;
    padding: 12px;
    border-radius: 1rem;
}
.midbut:hover{
    background-image: linear-gradient(to right, rgb(51, 149, 89), rgb(47, 77, 51));
}

.flexelemnts{
    display: flex;

}
.pencil{
    position: relative;
    top: 2rem;
}
.pencil:hover{
    transform: scale(1.2) ;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
}
.triangle{
position: relative;
  right: 1rem;
  bottom: 1rem;
}
.triangle:hover{
    transform: scale(1.2) ;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
}
.rocket{
    position: relative;
    top: 15rem;
    left: 12rem;
}
.rocket:hover{
    transform: rotate(360deg) scale(1.2) ;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
}

.videos{
    top: 1rem;
    position: relative;
}

.features h2{
    text-align: center;
}
.icon{
    display: flex;
  gap: 1rem;
}
.icon h5{
    font-size: 12px;
}
.cards{
    display: flex;
    gap: 1rem;
    padding: 12px; 
    justify-content: center;
    font-size: 11px;
}
.cards2{
    display: flex;
    gap: 1rem;  
    padding: 12px;
    justify-content: center;
    font-size: 11px;
}
.card{
    width: -moz-available;
    box-shadow: 0px 4px 10px 2px rgba(0, 0, 0, 0.31);
    padding: 0px 2rem 12px;
    line-height: 1;
    border-radius:1rem ;
}
.cardsep{
    display: flex;
  gap: 1rem;
}
.cardsep2{
    display: flex;
  gap: 1rem;
}
.cardsep3{
    display: flex;
  gap: 1rem;
}
.cardsep4{
    display: flex;
  gap: 1rem;
  width: fit-content;
}
.card p{
    margin: 0;
}

.reduce{
    display: flex;
    gap: 6rem;
    margin-top: 2rem;
}
.reducetext{
    justify-content: center;
    display: flex;
    flex-direction: column;
}
.yellow{
    color: rgb(255, 179, 26);
    font-size: 13px;
}
.bold{
    font-size: 40px;
}
.list{
    display: flex;
    gap: 3rem;
    line-height: 2rem;
}

.real{
    display: flex;
    gap: 6rem;
}
.realtext{
    justify-content: center;
    display: flex;
    flex-direction: column;
}
span{
    color: rgb(47, 77, 51);
    font-size: 50px;
    font-weight: 700;
}
.spanwala{
    display: flex;
    gap: 2rem;
}

.app{
    text-align: center;
}
.app h2{
    font-size: 31px;
}
.app span{
    color: rgb(47, 77, 51);
    font-size: larger;
}
.app p{
    font-size: 12px;
    padding: 1px 12rem 1px 12rem;
}
.app img{
    width: 10rem;
}

.end{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin-top: 2rem;
}
.end p{
    padding: 0px 18rem 0px 18rem;
    font-size: 15px;
    
}

hr{
    width: 100%;
    background-color: #9191918a;
    height: 3px;
    border: none;
}

.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer img{
    width: 26px;
    margin: 0px 8px;
}
.footer p{
    font-size: 12px;
}
.footer a{
    font-size: 12px;
    text-decoration: none;
    color: black;
    margin: 0px 8px;
}


@media screen and (max-width: 768px){
.flexelemnts{
    display: initial;
}
.element-right{
    display: none;
}
.element-left{
    display: none;
}

.hamger li {
    display: none;
  }
  .hamger.responsive a {
    color: black;
  }
  .iicon{
    display: flex;
    position: absolute;
    place-self: center;
  }
  .iicon a.icon {
    background-color: #2F4D33;
    color: white;
    padding: 8px 14px 8px 14px;
    border-radius: 12px;
    text-decoration: none;
    font-size: 21px;
  }
  .hamger.responsive {
    transition-duration: 0.8s;
    display: flex;
    position: absolute;
    top: 83%;
    z-index: 1;
    padding: 20px;
    flex-direction: column;
    background-color: white;
    width: 100%;
  }
  .hamger a{
      border-bottom: 2px none !important;
  }
  .hamger.responsive li {
    display: block;
    width: 100%;
    border-bottom: 2px solid rgb(255 179 26);
    padding: 10px 0;
  }
  .hamger.responsive li:hover {
    color: rgb(255 179 26);
    transition-duration: 0.2s;
  }
  .hamger a:hover{
    color: rgb(255 179 26);
    transition-duration: 0.2s;
  }

.navigate {
  display: flex;
  justify-content: space-around;
  position: relative;
  left: 0%;
    width: auto;
}
.logo{
    display: flex;
}
.hamger{
    display: flex;
}
#amg{
    background-image: url(images/collap-minus.svg);
}

.container{
    width: auto;
    left: 0%;
    padding: 6px 3rem;
}

.videos video{
    width: auto;
}

.elements{
    display: none;
}

.cards{
    flex-direction: column;
    font-size: 15px;
}
.card img{
    width: 40px;
}
.card h5{
    font-size: 15px;
}
.cards2{
    flex-direction: column;
    font-size: 15px;
}

.reduce{
    flex-direction: column-reverse;
    gap: 2rem;
}
.reducetext.list{
    flex-direction: row;
}
.reduceimage{
    display: flex;
    justify-content: center;
}

.real{
    flex-direction: column;
    gap: 0rem;
}
.realimage{
    display: flex;
    justify-content: center;
}

.app p {
  font-size: 14px;
  padding: 1px 6rem 1px 6rem;
}

.slide video{
    width: auto;
}

.end p {
  padding: 0px 1rem 0px 1rem;
  font-size: 15px;
}
}

@media screen and (max-width: 420px) {

.logo{
    align-items: center;
}
.logo img{
    width: 150px;
    height: 50px;
}
.image{
    display: none;
}
.login p{
    display: none;
}

.container{
    padding: 6px 0px;
}

.videos video{
    object-fit: contain;
    border-radius: 2rem;
    width: -moz-available !important;
    height: auto;
}

.reducetext{
    padding: 0px 10px;
}
.realtext{
    padding: 0px 10px;
}

.yellow{
    font-size: 14px;
}

.cardsep{
    flex-direction: column;
}
.cardsep2{
    flex-direction: column;
}
.cardsep3{
    flex-direction: column;
}
.cardsep4{
    flex-direction: column;
}

.app p{
    padding: 1px 0px 1px 0px;
}
    
.slide video{
    width: 100%;
    height: 400px;
}

.footer{
    flex-direction: column;
    gap: 1rem;
}
}